<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE PRODUCTOS</span>
                    <button class="btn btn-success float-end" routerLink="/crear-producto" >Nuevo</button>
                    <table *ngIf="listProduct.length > 0" class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Ubicacion</th>
                            <th scope="col">Precio</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let prod of listProduct">
                            <td>{{ prod.producto }}</td>
                            <td>{{ prod.categoria }}</td>
                            <td>{{ prod.ubicacion }}</td>
                            <td>{{ prod.precio | currency: 'USD' }}</td>
                            <td>
                                <i [routerLink]="['/editar-producto', prod._id]" class="fas fa-edit text-warning"></i>
                                <i (click)="eliminarProducto(prod._id)" class="fas fa-trash text-danger"></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <h5 *ngIf="listProduct.length === 0" class="text-center mt-3" >No hay productos para mostrar</h5>
                </div>
            </div>
        </div>
    </div>
</div>
